body{
    background-color:gainsboro;
}
h1{
    padding: 4px;
    margin: 4px;
    border: 1px solid floralwhite;
    background-color: rgb(141, 235, 183);
    border-radius: 5px;
    text-align: center;
    color: blue;
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#pic{
    text-align: center;
    position: relative;
}
.overflow{
    border:3px solid floralwhite;
    width: 300px;
    height: 300px;
    overflow: scroll;
}
.footer{
    background-color: lightblue;
    text-align: center;
}
h2{
    background-color: rgb(141, 235, 183);
    color: blue;
    
}
h4{
    color: blue;
    font-style: italic;
}